.formulario {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.formulario form {
  max-width: 80%;
  padding: 36px 64px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}